@model netCoreNew.Models.Negocio

<input asp-for="@Model.Id" type="hidden">

<div class="row">

    <div class="form-group col-md-6">
        <label asp-for="@Model.MontoMinimo" class="">Monto minimo aprobacion</label>
        <input asp-for="@Model.MontoMinimo" class="form-control">
        <span asp-validation-for="@Model.MontoMinimo" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="@Model.MontoDiferencia" class="">% con utimo precio unitario</label>
        <input asp-for="@Model.MontoDiferencia" class="form-control">
        <span asp-validation-for="@Model.MontoDiferencia" class="text-danger"></span>
    </div>

</div>