@model IEnumerable<netCoreNew.Models.Remito>

@if (!Model.Any())
{
    <div class="kt-error_container">
        <span class="kt-error_title">
            <h1></h1>
        </span>
        <p class="kt-error_subtitle">
            Esta orden de compra aún no tiene remitos asociados
        </p>
        <p class="kt-error_description">
        </p>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr class="text-center">
                <th>Fecha Recepción</th>
                <th>Codigo</th>
                <th>Recibio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td scope="row">
                        @item.FechaRecepcion?.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Codigo
                    </td>
                    <td>
                        @item.Usuario.Nombre
                    </td>
                    <td>
                        <a href="javascript:;" class="btn btn-bold btn-sm btn-label-brand mt-2" onclick="EditarRemito($(this))" data-id="@item.Id">
                            <i class="la la-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-bold btn-sm btn-label-danger mt-2" onclick="EliminarRemito($(this))" data-id="@item.Id">
                            <i class="la la-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
