@model netCoreNew.ViewModels.VerCompraVM

<div class="" id="kt_content">

    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>

        <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">

            <div class="kt-portlet kt-portlet--height-fluid-">
                <div class="kt-portlet__head kt-portlet__head--noborder">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">

                    </div>
                </div>
                <div class="kt-portlet__body">

                    <div class="kt-widget kt-widget--user-profile-2">
                        <div class="kt-widget__head">
                            <div class="kt-widget__info pl-0">
                                <a href="#" class="kt-widget__username">
                                    @Model.Usuario
                                </a>
                                <span class="kt-widget__desc">
                                    @Model.Area
                                </span>
                            </div>
                        </div>
                        <div class="kt-widget__body">
                            <div class="kt-widget__section">

                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Solicitado:</span>
                                    <a href="#" class="kt-widget__data">@Model.Solicitado</a>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Plazo:</span>
                                    <a href="#" class="kt-widget__data">@Model.Plazo</a>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Estado:</span>
                                    <span class="kt-widget__data">@Html.Raw(Model.Estado)</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Aprobador:</span>
                                    <span class="kt-widget__data">@Model.Aprobador</span>
                                </div>
                                <hr />
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Proveedor:</span>
                                    <span class="kt-widget__data">@Model.Proveedor</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Centro de costos:</span>
                                    <span class="kt-widget__data">@Model.CentroCostos</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Tipo de compra:</span>
                                    <span class="kt-widget__data">@Model.TipoCompra</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Forma de pago:</span>
                                    <span class="kt-widget__data">@Model.FormaPago</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Condicion de pago:</span>
                                    <span class="kt-widget__data">@Model.CondicionPago </span>
                                </div>
                                @if (Model.VerObservaciones)
                                {
                                    <div class="kt-widget__contact">
                                        <span class="kt-widget__label">Observaciones:</span>
                                        <span class="kt-widget__data">@Model.Obsrvaciones </span>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="kt-widget__footer">
                            @if (Model.Presupuesto1 != null)
                            {
                                <a href="@Model.Presupuesto1" class="btn btn-label-success btn-upper" target="_blank">Ver</a>
                            }
                            @if (Model.Presupuesto2 != null)
                            {
                                <a href="@Model.Presupuesto2" class="btn btn-label-success btn-upper" target="_blank">Ver</a>
                            }
                            @if (Model.Presupuesto3 != null)
                            {
                                <a href="@Model.Presupuesto3" class="btn btn-label-success btn-upper" target="_blank">Ver</a>
                            }
                            @if (Model.Aprobar)
                            {
                                <div class="row mt-3">
                                    <div class="col-md-6">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-label-success" onclick="Aprobar($(this))" title="Aprobar" data-id="@Model.Id"><i class="la la-check"></i> Aprobar</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="javascript:void(0);" class="btn btn-sm btn-label-danger" onclick="Rechazar($(this))" title="Rechazar" data-id="@Model.Id"><i class="la la-times"></i> Rechazar</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">

            <div class="row">
                <div class="col-xl-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Articulo</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Precio unit</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Articulos)
                            {
                                <tr>
                                    <th scope="row">
                                        @item.Nombre
                                        @if (item.Detalle != null)
                                        {
                                            <i class="fa fa-exclamation text-danger ml-2" data-toggle="kt-tooltip" title="@item.Detalle" data-html="true" data-content="@item.Detalle"></i>
                                        }
                                    </th>
                                    <td>@item.Unidad</td>
                                    <td>@item.Cantidad</td>
                                    <td>@item.Precio</td>
                                    <td>@item.Subtotal</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <hr />

                    <div class="col-md-4 divResumen">
                        <b>Subtotal: </b> <span class="float-right">@Model.Subtotal</span>
                        <br />
                        <b>IVA: </b> <span class="float-right">@Model.IVA</span>
                        <br />
                        <b>Total: </b> <span class="float-right">@Model.Total</span>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>