@model netCoreNew.ViewModels.VerRecuentoVM

<div class="" id="kt_content">

    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

        <button class="kt-app__aside-close" id="kt_user_profile_aside_close">
            <i class="la la-close"></i>
        </button>

        <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_user_profile_aside">

            <div class="kt-portlet kt-portlet--height-fluid-">
                <div class="kt-portlet__head kt-portlet__head--noborder">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">

                    </div>
                </div>
                <div class="kt-portlet__body">

                    <div class="kt-widget kt-widget--user-profile-2">
                        <div class="kt-widget__head">
                            <div class="kt-widget__info pl-0">
                                <a href="#" class="kt-widget__username">
                                    @Model.Nombre
                                </a>
                                <span class="kt-widget__desc">
                                    @Model.Descripcion
                                </span>
                            </div>
                        </div>
                        <div class="kt-widget__body">
                            <div class="kt-widget__section">

                            </div>
                            <div class="kt-widget__item">
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Creador:</span>
                                    <span class="kt-widget__data">@Model.CreadoPor</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Fecha creacion:</span>
                                    <span class="kt-widget__data">@Model.FechaCreacion</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">Ultima modificacion:</span>
                                    <span class="kt-widget__data">@Model.FechaModificacion</span>
                                </div>
                                <div class="kt-widget__contact">
                                    <span class="kt-widget__label">TOTAL:</span>
                                    <span class="kt-widget__data">@Model.Total</span>
                                </div>
                            </div>
                        </div>
                        @*<div class="kt-widget__footer">

                        </div>*@
                    </div>

                </div>
            </div>

        </div>

        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">

            <div class="row">
                <div class="col-xl-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Articulo</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Detalles)
                            {
                                <tr>
                                    <th scope="row">
                                        @item.Codigo
                                    </th>
                                    <td>@item.Nombre
                                    </td>
                                    <td>@item.Cantidad</td>
                                    <td>@item.Precio</td>
                                    <td>@item.Subtotal</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>
</div>