@model netCoreNew.Models.Compra

<input asp-for="@Model.Id" type="hidden">

<div class="form-group col-md-4">
    <label asp-for="@Model.IdEstadoCompra" class="">Estado</label>
    <select asp-for="@Model.IdEstadoCompra" asp-items="@ViewBag.IdEstadoCompra" class="form-control select2Simple">
    </select>
    <span asp-validation-for="@Model.IdEstadoCompra" class="text-danger"></span>
</div>