@model netCoreNew.Models.Recuento

<input asp-for="@Model.Id" type="hidden">

<div class="kt-portlet__body">

    <ul class="nav nav-pills nav-fill" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tabs_1">Datos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_tabs_2">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_tabs_3">Importar</a>
        </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="kt_tabs_1" role="tabpanel">

            <div class="row">

                <div class="form-group col-md-12">
                    <label asp-for="@Model.Nombre" class=""></label>
                    <input asp-for="@Model.Nombre" class="form-control">
                    <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12">
                    <label asp-for="@Model.Descripcion" class=""></label>
                    <textarea asp-for="@Model.Descripcion" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12">
                    <label asp-for="@Model.Etiquetas" class=""></label>
                    <input asp-for="@Model.Etiquetas" class="form-control tags">
                    <span asp-validation-for="@Model.Etiquetas" class="text-danger"></span>
                </div>

            </div>

        </div>

        <div class="tab-pane" id="kt_tabs_2" role="tabpanel">

            <div class="row">

                <div class="col-md-12">

                    <div id="kt_repeater_1" data-items="@Model.ItemsLoad" data-empty="true" class="repeater" style="width: 100%;">

                        <div class="row text-center mb-2">

                            <div class="col-md-2">
                                Código
                            </div>

                            <div class="col-md-3">
                                Artículo
                            </div>

                            <div class="col-md-1">
                                Cantidad
                            </div>

                            <div class="col-md-2">
                                Unidad de Medida
                            </div>

                            <div class="col-md-2">
                                Precio
                            </div>

                            <div class="col-md-1">

                            </div>

                        </div>

                        <div class="row" id="kt_repeater_1">

                            <div data-repeater-list="Items" class="col-lg-12">

                                <div data-repeater-item class="form-group row align-items-center rowRepeater rowRepeaterCompra" name="inner-group">

                                    <div class="col-md-2">
                                        <input name="Codigo" type="text" class="form-control text-center codigo">
                                    </div>

                                    <div class="col-md-3">
                                        <select name="IdArticulo" asp-items="@ViewBag.IdArticulo" class="form-control kt-selectpicker idArticulo" data-live-search="true" title="== Articulo ==" onchange="CargarDatosArticulo($(this))">
                                        </select>
                                    </div>

                                    <div class="col-md-1">
                                        <input name="Cantidad" type="text" class="form-control text-center">
                                    </div>

                                    <div class="col-md-2">
                                        <input name="UnidadMedida" type="text" class="form-control text-center unidadMedida">
                                    </div>

                                    <div class="col-md-2">
                                        <input name="Precio" type="text" class="form-control text-center precio">
                                    </div>

                                    <div class="col-md-1">
                                        <a href="javascript:;" name="Boton" data-repeater-delete="" class="btn-sm btn btn-label-danger btn-bold">
                                            <i class="la la-trash-o"></i>
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <hr />

                        <div class="form-group form-group-last">
                            <a href="javascript:;" data-repeater-create="" id="repeater-button" class="btn-sm btn btn-label-danger btn-bold">
                                <i class="la la-plus"></i> AGREGAR
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="tab-pane" id="kt_tabs_3" role="tabpanel">

                 <ul class="kt-nav">
                        <li class="kt-nav__item">
                            <a href="#" button type="button" class="btn btn-brand btn-icon-sm ml-2" onClick="Importar()">
                                <i class="kt-nav__link-icon flaticon-upload"></i>
                                <span class="kt-nav__link-text">Importar</span>
                            </a>
                        </li>
                     </ul>

                @*@model netCoreNew.ViewModels.ExcelVM

                <div class="row" id="divOcultar">

                <div class="col">
                    <div class="alert alert-secondary" role="alert">
                        <div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
                        <div class="alert-text">
                            Porfavor descarga el <code>ultimo modelo de Excel</code> desde siguiente enlace.
                            <br>
                            <a class="kt-link kt-font-bold" href="@Model.Url" download">Descargar modelo de Excel</a>.
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">

                </div>

                <div class="form-group col-md-12">
                    <label asp-for="@Model.File" class=""></label>
                    @Html.TextBoxFor(model => model.File, htmlAttributes: new { @type = "file", @class = "dropify", @data_allowed_file_extensions = "xlsx" })
                </div>
                
                </div>

                <div class="row">
                
                    <div class="col-md-12">
                        <div class="kt-list-timeline">
                            <div class="kt-list-timeline__items">
                
                                <div id="divResultado">
                
                
                
                                </div>
                
                            </div>
                        </div>
                    </div>
                
                </div>*@

        </div>

    </div>

</div>


@section Scripts{

    <script>

        function Importar() {

                KTApp.block('.modal-body', {});

                $("#title_modal_nuevo").html("Importar");
                $("#btn_modal_nuevo").show();

                $.get("/Admin/ImportarRecuento", {}, function (result) {

                    $('#content_modal_nuevo').html(result);

                    InitModal();

                    $('#btn_modal_nuevo').unbind('click').click(function (e) {

                        e.preventDefault();

                        var btn = $(this);
                        btn.attr('disabled', true);

                        var form = $(this).closest("form");
                        $.validator.unobtrusive.parse(form[0]);
                        var _data = new FormData(form[0]);

                        if (!form.valid()) {
                            formError(btn, "Algunos datos no son correctos");
                            return;
                        }

                        KTApp.block('.modal-body', {});

                        $.ajax({
                            url: "/Admin/ImportarRecuento",
                            type: "POST",
                            data: _data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                if (result.success) {

                                    var acciones = "";
                                    function Convertir(texto, color) {
                                        return '<div class="kt-list-timeline__item">' +
                                            '<span class="kt-list-timeline__badge kt-list-timeline__badge--' + color + '"></span>' +
                                            '<span class="kt-list-timeline__text">' + texto + '</span>' +
                                            '</div>';
                                    }
                                    for (var i = 0; i < result.exitos.length; i++) {
                                        acciones += Convertir("Ítem nuevo | " + result.exitos[i], "success");
                                    }
                                    for (var i = 0; i < result.errores.length; i++) {
                                        acciones += Convertir("Error | " + result.errores[i], "danger");
                                    }
                                    $("#divResultado").html(acciones);

                                    KTApp.unblock('.modal-body');
                                    btn.attr('disabled', true);
                                    successMessage(result.message);
                                    tabla.ajax.reload();
                                }
                                else {
                                    formError(btn, result.message);
                                }
                                return;
                            },
                            error: function (xhr, textStatus) {
                                formError(btn, "Algunos datos no son correctos");
                                return;
                            }
                        });

                    });

                }).fail(function (xhr, status, error) {
                    errorMessage("Ups.. Surgio un error inesperado");
                    return;
                });

            }

        function initAcciones() {

            debugger;



        }

    </script>

}