@model netCoreNew.Models.Dolar

<input asp-for="@Model.Id" type="hidden">

<div class="row">

    <div class="form-group col-md-6">
        <label asp-for="@Model.ValorDolar" class="">
            <div style="display: flex; flex-direction: row; width: max-content;">
                <p>Valor Dolar &nbsp </p>
                <p style="color: #989494;">-   Fecha última actualizacion:  @Model.Fecha.ToShortDateString()</p>
            </div>
        </label>
        <input asp-for="@Model.ValorDolar" class="form-control">
        <span asp-validation-for="@Model.ValorDolar" class="text-danger"></span>
    </div> 
    
    @*<div>
        <p>
            <label asp-for="@Model.Fecha" class="">Fecha última actualizacion <br/> @Model.Fecha</label>
         </p>
    </div>   *@

</div>