@model IEnumerable<netCoreNew.ViewModels.NotificacionVM>

<div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b" style="background-image: url(../../img/bg-1.jpg); padding-bottom: 40px !important;">
    <h3 class="kt-head__title">
        Notificaciones
        <span class="btn btn-success btn-sm btn-bold btn-font-md">@Model.Where(c => !c.Leida).Count() nuevas</span>
    </h3>
</div>

<div class="kt-notification kt-scroll" data-scroll="true" data-height="200" data-mobile-height="200" style="overflow-y: scroll; max-height: 400px;">
    @foreach (var item in Model)
    {
        <a href="#" class="" onclick="VerNotificacion(@item.IdCompra)" title="Ver" data-toggle="modal" data-target="#modal_nuevo">
            <div class="kt-notification__item">
                <div class="kt-notification__item-icon">
                    <i class="@item.Icono"></i>
                </div>
                <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title">
                        @if (item.Leida)
                        {
                            @item.Nombre
                        }
                        else
                        {
                            <b>
                                @item.Nombre
                            </b>
                        }
                    </div>
                    <div class="kt-notification__item-time">
                        @item.Fecha
                    </div>
                </div>
            </div>
        </a>
    }

    @if (!Model.Any())
    {
        <div class="kt-notification__item">
            <div class="kt-notification__item-icon">
                <i class="la la-times"></i>
            </div>
            <div class="kt-notification__item-details">
                <div class="kt-notification__item-title">
                    No tienes nuevas notificaciones
                </div>
            </div>
        </div>
    }
</div>

